:local .commentItem {
    padding: 10px;
    border-bottom: 1px solid #e7eaf2;
}

:local .userContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:local .user img {
    height: 24px;
    width: 24px;
    border-radius: 2px;
    margin-right: 10px;
    cursor: pointer;
}

:local .user span {
    cursor: pointer;
}

:local .user .reply {
    display: inline-block;
}

:local .user .reply .to{
    color: gray;
    font-size: 14px;
    margin: 0 10px;
}

:local .time {
    color: gray;
    font-size: 14px;
}

:local .content {
    margin-top: 10px;
}

:local .commentAction {
    color: #9fadc7;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

:local .actionItem {
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
}

:local .commentAction .actionItem.hoverShow {
    opacity: 0;
    transition: opacity 0.2s;
}

:local .commentAction:hover .actionItem.hoverShow {
    opacity: 1;
    transition: opacity 0.2s;
}

:local .actionItem img {
    margin-right: 5px;
}

:local .actionItem span {
    margin-right: 10px;
}