body {
    background-color:  #f3f3f3;
}

.home-main {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.home-main .left-part {
    flex: 2;
    margin-right: 10px;
}

.home-main .right-part {
    flex: 1;
    /*background-color: red;*/
}

.home-main .top-part {
    display: flex;
    justify-content: space-between;
}

.home-main .top-item-container {

}

.home-main .top-item {
    float: left;
    margin-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: black;
}

.home-main .top-item:hover {
    color: gray;
}

