body {
    background-color:  #f3f3f3;
}

.home-main {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.home-main .left-part {
    flex: 7;
    margin-right: 10px;
}

.home-main .right-part {
    flex: 3;
    /*background-color: red;*/
}

.home-main .top-part {
    display: flex;
    justify-content: space-between;
}

.home-main .top-item-container {

}

.home-main .top-item {
    float: left;
    margin-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: black;
}

.home-main .top-item:hover {
    color: gray;
}

.home-main .right-part .category-list {
    display: flex;
    flex-wrap: wrap;
    color: gray;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 20px;
}

.home-main .right-part .category-list .category {
    width: 33%;
    margin-bottom: 20px;
    cursor: pointer;
}

.home-main .right-part .category-list .category .img {
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px auto 10px auto;
}

.home-main .right-part .category-list .category.live:hover {
    color: #ffcf00;
}

.home-main .right-part .category-list .category.book:hover {
    color: #43d480;
}

.home-main .right-part .category-list .category.desk:hover,.category.pan:hover,.category.money:hover {
    color: #5478f0;
}

.home-main .right-part .side-bar {
    padding: 10px 0;
    color: #8590a6;
}

.home-main .right-part .side-bar .item {
    cursor: pointer;
    padding: 10px 0px 10px 50px;
}

.home-main .right-part .side-bar .item:hover {
    background-color: #f4f8fb;
}

.home-main .no-data {
    margin-top: 20px;
    text-align: center;
}
