.nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 52px;
    border-bottom: 1px solid rgba(30,35,42,.06);
    background-color: white;
    font-size: 15px;
}

.nav-container {
    width: 1000px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    background: transparent no-repeat url('../resource/img/logo.png');
    background-size: contain;
    width: 72px;
    height: 33px;
}

.nav-item,.nav-item:visited {
    color: #8590a6;
}


.nav-item:hover,.nav-item.select {
    color: black;
}

.search-question-container {
    width: 400px;
    height: 35px;
    position: relative;
}

.nav-search-input {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f7f8fa;
    padding: 9px 2.5%;
    height: 15px;
    width: 75%;
    border: 1px solid #e7eaf1;
    border-radius: 3px;
    color: #8590a6;
    z-index: 1;
    transition: all 0.2s linear;
}

.searching .nav-search-input {
    width: 95%;
    background-color: white;
}

.nav-search-img {
    position: absolute;
    top: 3.5px;
    right: 22%;
    width: 28px;
    height: 28px;
    z-index: 2;
    transition: right 0.2s linear;
}

.searching .nav-search-img {
    right: 2%;
}

.nav-question-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 35px;
    width: 16%;
    padding: 0;
    background-color: #0f88eb;
    color: white;
    border: 0;
    border-radius: 3px;
    transition: transform 0.2s linear;
    cursor: pointer;
}

.searching .nav-question-btn {
    transform: scale(0, 0);
}

.nav-icon {
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: 28px 28px;
    cursor: pointer;
}